In [9]:
import os
import pickle
from ucimlrepo import fetch_ucirepo

def fetch_students_dropout_data():
    local_file_path = './data/students_dropout_data.pkl'
    
    if not os.path.exists(local_file_path):
        # Fetch dataset from UCIMLRepo
        dataset = fetch_ucirepo(id=697)
        
        if dataset:
            # Save the dataset to a local file using pickle
            with open(local_file_path, 'wb') as file:
                pickle.dump(dataset, file)
            print("Data saved to:", local_file_path)
        else:
            print("Failed to fetch data from UCIMLRepo.")
            return None
    else:
        # Load the dataset from the local file using pickle
        with open(local_file_path, 'rb') as file:
            dataset = pickle.load(file)
    
    return dataset

# Example usage
dataset = fetch_students_dropout_data()
if dataset is not None:
    print("Dataset loaded successfully.")
    print("Features DataFrame head:")
    print(dataset.data.features.shape)

Dataset loaded successfully.
Features DataFrame head:
(4424, 36)

In [2]:
predict_students_dropout_and_academic_success.variables

,name,role,type,demographic,description,units,missing_values
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorce...,None,no
1,Application mode,Feature,Integer,None,1 - 1st phase - general contingent 2 - Ordinan...,None,no
2,Application order,Feature,Integer,None,Application order (between 0 - first choice; a...,None,no
3,Course,Feature,Integer,None,33 - Biofuel Production Technologies 171 - Ani...,None,no
4,Daytime/evening attendance,Feature,Integer,None,1 – daytime 0 - evening,None,no
5,Previous qualification,Feature,Integer,Education Level,1 - Secondary education 2 - Higher education -...,None,no
6,Previous qualification (grade),Feature,Continuous,None,Grade of previous qualification (between 0 and...,None,no
7,Nacionality,Feature,Integer,Nationality,1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...,None,no
8,Mother's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,None,no
9,Father's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,None,no
10,Mother's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,None,no
11,Father's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,None,no
12,Admission grade,Feature,Continuous,None,Admission grade (between 0 and 200),None,no
13,Displaced,Feature,Integer,None,1 – yes 0 – no,None,no
14,Educational special needs,Feature,Integer,None,1 – yes 0 – no,None,no
15,Debtor,Feature,Integer,None,1 – yes 0 – no,None,no
16,Tuition fees up to date,Feature,Integer,None,1 – yes 0 – no,None,no
17,Gender,Feature,Integer,Gender,1 – male 0 – female,None,no
18,Scholarship holder,Feature,Integer,None,1 – yes 0 – no,None,no
19,Age at enrollment,Feature,Integer,Age,Age of studend at enrollment,None,no
20,International,Feature,Integer,None,1 – yes 0 – no,None,no
21,Curricular units 1st sem (credited),Feature,Integer,None,Number of curricular units credited in the 1st...,None,no
22,Curricular units 1st sem (enrolled),Feature,Integer,None,Number of curricular units enrolled in the 1st...,None,no
23,Curricular units 1st sem (evaluations),Feature,Integer,None,Number of evaluations to curricular units in t...,None,no
24,Curricular units 1st sem (approved),Feature,Integer,None,Number of curricular units approved in the 1st...,None,no
25,Curricular units 1st sem (grade),Feature,Integer,None,Grade average in the 1st semester (between 0 a...,None,no
26,Curricular units 1st sem (without evaluations),Feature,Integer,None,Number of curricular units without evalutions ...,None,no
27,Curricular units 2nd sem (credited),Feature,Integer,None,Number of curricular units credited in the 2nd...,None,no
28,Curricular units 2nd sem (enrolled),Feature,Integer,None,Number of curricular units enrolled in the 2nd...,None,no
29,Curricular units 2nd sem (evaluations),Feature,Integer,None,Number of evaluations to curricular units in t...,None,no
30,Curricular units 2nd sem (approved),Feature,Integer,None,Number of curricular units approved in the 2nd...,None,no
31,Curricular units 2nd sem (grade),Feature,Integer,None,Grade average in the 2nd semester (between 0 a...,None,no
32,Curricular units 2nd sem (without evaluations),Feature,Integer,None,Number of curricular units without evalutions ...,None,no
33,Unemployment rate,Feature,Continuous,None,Unemployment rate (%),None,no
34,Inflation rate,Feature,Continuous,None,Inflation rate (%),None,no
35,GDP,Feature,Continuous,None,GDP,None,no
36,Target,Target,Categorical,None,Target. The problem is formulated as a three c...,None,no